h1 {
	text-align: center;
	margin-top: 10pt;
	margin-bottom: 30pt;

}
table {
	margin: auto;
}

#caixa {
	margin: auto;
	width: 270px;
	height: 330px;
	background-color: gainsboro;
}

div  {
	height: 50px;
	text-align: right;
	font-size: 18pt;
	background-color: darkseagreen;
	margin-top: 20px;
	margin-bottom: 8px;
}

button {

	align-content: center;
	width: 60px;
	height: 60px;

}
