table {
	background-color: gainsboro;
	margin: auto;
	align-content: center;
}


div  {

	text-align: right;
	font-size: 18pt;
	background-color: darkseagreen;

}

th {

	align-content: center;
	padding: 6pt;
	content: 6pt;
	border: solid;

}

